.side-bar-channels a {
  color: var(--main-txt-color);
  cursor: pointer;

  text-align: center;
  user-select: none;

  margin-right: 0;
  opacity: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  font-size: 15px;
  text-decoration: none;
}

.side-bar-channels li.active {
  background-color: #1164a3;
}

.side-bar-channels ul {
  list-style-type: none;
}

.side-bar-channels li {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 7px 15px;
}

#sidebar-skeleton {
  animation: pulse 2000ms infinite cubic-bezier(0.4, 0, 0.6, 1);
}

#sidebar-skeleton p {
  background-color: rgb(80, 79, 84);
  color: transparent;
  border-radius: 99px;
}

#sidebar-skeleton div {
  width: 16px;
  height: 16px;
  background-color: rgb(80, 79, 84);
  border-radius: 99px;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
