main {
  height: 100vh;

  background-color: var(--main-bg-color);

  display: grid;
  grid-template-rows: 1fr auto;

  padding: 20px;
}

.message-box {
  display: flex;
  justify-content: center;
  align-items: center;

  display: grid;
  grid-template-columns: 1fr auto;

  padding: 20px;
  border: 1px solid var(--main-txt-color);
  border-radius: 8px;

  color: var(--main-txt-color);
}

.message-box input {
  font-size: 15px;
  border: none;
  outline: none;
  background-color: var(--main-bg-color);

  color: var(--main-txt-color);
}

.message-box .send {
  background-color: green;
  color: #fff;
  padding: 10px;
  border-radius: 8px;

  cursor: pointer;
  border: none;
}

.message-box .send:disabled {
  opacity: 0.5;
}

.messages-container {
  background-color: var(--main-bg-color);
  color: var(--main-txt-color);
  display: flex;
  flex-direction: column-reverse;
  gap: 30px;
  padding: 30px;

  overflow-y: scroll;
}
