.message-data {
  display: flex;

  min-width: 0;

  gap: 8px;
}

.message-data:hover {
  opacity: 0.8;
}
.message-data img {
  width: 36px;
  height: 36px;
  object-fit: cover;

  background-color: #e8e8e821;

  flex-shrink: 0;
  border-radius: 4px;
}

.message h3 {
  color: #d1d2d3;
  font-size: 15px;
}

.message p {
  color: #d1d2d3;
  font-size: 15px;
  word-wrap: break-word;
  word-break: break-all;
  overflow-wrap: break-word;
}
