.login {
  width: 100vw;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: var(--p-channel_sidebar__top-nav-bg);
}

.login h1 {
  color: #d1d2d3;
}

.login button {
  margin: 150px;
  padding: 15px;
  color: black;
  width: 200px;

  background-color: #d1d2d3;

  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.google {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 20px;
}
