* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-weight: 400;
  font-variant-ligatures: common-ligatures;
  -webkit-font-smoothing: antialiased;
  font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif;

  color: rgba(var(--sk_primary_foreground, 29, 28, 29), 1);
  font-variant-ligatures: common-ligatures;
}

.startpage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  padding: 20px;

  background-color: #19171d;
  color: #b1b2b3;
}

:root {
  font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif;
  --main-txt-color: #d1d2d3b3;
  --main-bg-color: #19171d;
  --topnav-bg-color: #121016;

  --p-channel_sidebar__top-nav-bg: #121016;
}

.App {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 200px 1fr;
}

.hide-on-big-screens {
  display: none;
}

@media only screen and (max-width: 800px) {
  .hide-on-small-screens {
    display: none;
  }

  .show-on-small-screens {
    width: 100%;
  }

  .App {
    grid-template-columns: 1fr;
  }

  .hide-on-big-screens {
    display: block;
  }
}
